
.DS_Store
.gradle/6.4.1/fileChanges/last-build.bin
.gradle/6.4.1/fileHashes/fileHashes.lock
.gradle/6.4.1/gc.properties
.gradle/6.7/executionHistory/executionHistory.bin
.gradle/6.7/executionHistory/executionHistory.lock
.gradle/6.7/fileChanges/last-build.bin
.gradle/6.7/fileHashes/fileHashes.bin
.gradle/6.7/fileHashes/fileHashes.lock
.gradle/6.7/gc.properties
.gradle/7.5.1/checksums/checksums.lock
.gradle/7.5.1/dependencies-accessors/dependencies-accessors.lock
.gradle/7.5.1/dependencies-accessors/gc.properties
.gradle/7.5.1/fileChanges/last-build.bin
.gradle/7.5.1/fileHashes/fileHashes.lock
.gradle/7.5.1/gc.properties
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/buildOutputCleanup/cache.properties
.gradle/checksums/checksums.lock
.gradle/checksums/md5-checksums.bin
.gradle/checksums/sha1-checksums.bin
.gradle/configuration-cache/gc.properties
.gradle/vcs-1/gc.properties
.idea/.name
.idea/azure/azureSettings.xml
.idea/compiler.xml
.idea/gradle.xml
.idea/jarRepositories.xml
.idea/misc.xml
.idea/modules/svc-dnahelloworld.iml
.idea/modules/svc-dnahelloworld.main.iml
.idea/modules/svc-dnahelloworld.test.iml
.idea/sonarIssues.xml
.idea/sonarlint/issuestore/index.pb
.idea/vcs.xml
build/bootJarMainClassName
build/libs/fabric-0.0.1-SNAPSHOT-plain.jar
build/libs/fabric-0.0.1-SNAPSHOT.jar
build/libs/svc-basic-1.1-b0549f7.jar
build/tmp/bootJar/MANIFEST.MF
build/tmp/compileJava/previous-compilation-data.bin
build/tmp/compileTestJava/previous-compilation-data.bin
build/tmp/jar/MANIFEST.MF
